@import "tailwindcss";

@theme {
  --breakpoint-sm: 500px;
}

:root {
  --current-color: rgb(231, 233, 234);
  --hover-color: #252525ab;
  --border-color: #363636;
}

@layer base{
    input {
        @apply text-neutral-300;
    }
}
